
<div class="container mt-4 vj-destacados">
    <button type="button" class="btn btn-primary" routerLink="/crearLibro" style="background-color: #00BFFF">Crear libro</button>
  <div class="row">
    <div *ngFor="let book of books" class="col-md-3 mb-4">
      <div class="card h-100">
        <img [src]="book.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{book.name}}</h5>
          <p>
            <a (click)="searchBooksByEditorial(book)" class="badge text-bg-info" [text]="book.editorialId.name"></a>
          </p>
          <p class="card-text">{{book.description}}</p>
        </div>
        <div>
          <div class="card-footer text-muted d-flex">
            <a [routerLink]="['/modificarLibro/', book.id]" class="btn btn-primary me-2">Modificar Libro</a>
            <a (click)="deleteBookById(book.id)" class="btn btn-primary">Eliminar Libro</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
